<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1 th:text="${title}"></h1>

    <div th:if="${products.isEmpty()}" th:text="${'Products list is empty'}"></div>
    <table th:if="${!(products.isEmpty())}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.price}"></td>
            </tr>
        </tbody>
    </table>


</body>
</html>